<h2>Dmitri's Chat Appie</h2>

<ul id="messages"></ul>

<form id="send-message">
  <input id="m" type="text"/>
  <div>
    <button value="" class="send">Send</button>
    <div class="filebutton">Send Image<input type="file" id="imagefile" accept="image/*"></div>
  </div>
</form>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var socket = io();
  console.log('socket: ', socket);

  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });

  $('#imagefile').bind('change', function(e){
    var data = e.originalEvent.target.files[0];
    var reader = new FileReader();
    reader.onload = function(evt){
      socket.emit('image message', evt.target.result);
    };
    reader.readAsDataURL(data);
  });

  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });

  socket.on('image message', function (base64Image) {
    $('#messages').append($('<p>').append($('<img class="chat-image" src="' + base64Image + '"/>')));
  });

</script>